::placeholder {
    color: white;
 }

body {
    display: flex;
    flex-direction: row;
    margin: 0%;
}

.sidebar {
    padding: 2%;
    padding-right: 3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #8B6FE3;

}

.sidemenus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    font-family: 'Poppins', sans-serif;
    color: white;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myProfileText {
    font-weight: bold;
    font-size: 150%;
}

.pageSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    margin-top: 20%;
    margin-bottom: 20%;
}

.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2%;
    margin-bottom: 2%;
}

.pageName {
    margin-left: 20%;
    font-size: 140%;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
    border-radius: 14px;

    width: 94%;

    padding-right: 2%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.placeHolderSearchText {
    padding: 0%;
    margin: 0%;
    margin-left: 6%;

    color: #afa9a9;

    font-style: italic;
    font-size: 90%;
}

.piupiuwerLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 35%;
}


.mainpage {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}


.piuWriter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    background-color: rgba(122, 152, 244, 0.8);

    margin: 5%;
    padding: 8px;

    border-radius: 16px;

    width: 600px;
}

.piuWriterProfilePic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 32px;

    padding-top: 16px;
}

.piuWriterMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;

    height: 100%;
    width: 460px;
}

#piuWriterTextArea {
    font-family: 'Public Sans', sans-serif;
    color: white;
    /* color: #494444; */
    font-size: 16px;

    background-color: rgba(122, 152, 244, 0.8);

    resize: none;
    outline: none;
    overflow: auto;
    border: none;

    padding: 16px;
    margin: 2%;
    border-radius: 16px;
    width: 100%;
}

.piuWriterbottomMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-left: 24px;
    margin-right: 8px;
}

.piuWriterInteractions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100px;
    margin-right: 80px;
}

.piuSender {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 108px;
}

.piu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    background-color: #F8F8F8;

    border-radius: 16px;
    width: 600px;

    margin-bottom: 4%;
    box-shadow: 1px 1px 4px -2px black;
}

.piu-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: 'Poppins', sans-serif;

    padding-left: 4%;
    padding-right: 2%;
    width: 94%;
}

.piu-info-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-photo {
    width: 28px;
    height: auto;
    border-radius: 50%;

    margin-right: 12px;
}

.realname-text {
    font-size: large;
    font-weight: bold;

    color: black;

    margin-right: 12px;
}

.username-text {
    color: #7E7979;

    margin-right: 12px;
}

.time-elapsed {
    color: #7E7979;
    font-weight: bold;
    font-size: large;
}

.piu-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

    font-family: 'Poppins', sans-serif;

    padding-left: 11%;
    padding-right: 2%;
    width: 87%;
}


.piu-text {
    font-family: 'Public Sans', sans-serif;
    font-size: larger;
}


.piu-interactions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 40%;

}

.piu-like-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.piu-like-icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
}

.piu-like-counter {
    font-family: 'Poppins', sans-serif;
    color: #C287FA;

    font-size: larger;
}

.piu-save-icon {
    width: 20px;
    height: auto;
}

.piu-delete-icon {
    width: 20px;
    height: auto;
}


#Post {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;

    background-color: #C287FA;
    color: white;

    border: none;
    border-radius: 24px;

    box-shadow: 1px 1px 4px -2px black;
}

#charContador {
    font-family: 'Public Sans', sans-serif;
    color: #494444;
}


#mainprofilepic {
    max-width: 35%;
    height: auto;
}

#homePageText {
    font-weight: bold;
    text-decoration: underline;
}

#homeIcon {
    width: 35%;
    height: auto;
}

#notificationIcon {
    width: 20%;
    height: auto;
}

#trendingIcon {
    width: 25%;
    height: auto;
}

#toolIcon {
    width: 20%;
    height: auto;
}

#searchIcon {
    width: 10%;
    height: auto;

    color: #8B6FE3;
}

#piupiuwerIcon {
    width: 20%;
    height: auto;
}

#profilepicSmall {
    width: 24px;
    height: auto;
}

#imageIcon {
    width: 20px;
    height: auto;
}

#attachmentIcon {
    width: 12px;
    height: auto;
}

#emojiIcon {
    width: 20px;
    height: auto;
}